.button-actif {
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  height: 30px;
  color:green
}

.button-inactif {
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  height: 30px;
  color:red
}

.button-actif:hover {
  border-color: green;
}

.button-inactif:hover {
    border-color: red;
}

.client-row {
    display: flex;
    justify-content: center;
}

.container-admin {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
